footer {
    padding: 50px 0 0 0;
    height: 440px;
    background-image: url('../img/footer-bg.jpg');
    color:white;

    h2 {
        margin: 20px 50px 10px 0;
    }

    a {
        color: white;

        &:hover,
        &:active{
            color: dodgerblue;
        }
    }
    
    ul {
        margin-right: 50px;
        list-style-type: none;
    }

    li {
        list-style-type: none;
        
    }
    
    #flex-bottom {
        display: flex;
        
    }

    figure {
        margin-left: 140px;
        width: 500px;
        height: 375px;
        img {
        margin-left: 20px;
        height: 100%;
        }
    }

}