/* Generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

header #upper-header {
  height: 23px;
  background-color: dodgerblue;
}
header #upper-header #flex-upper-header {
  display: flex;
  justify-content: flex-end;
}
header #upper-header #flex-upper-header .dc-link a {
  color: white;
  text-transform: uppercase;
}
header #upper-header #flex-upper-header .dc-link a:hover, header #upper-header #flex-upper-header .dc-link a:active {
  color: black;
}
header #upper-header #flex-upper-header li {
  margin-left: 17px;
  font-size: 13px;
}
header #upper-header #flex-upper-header li a {
  color: white;
}
header #upper-header #flex-upper-header li a:hover, header #upper-header #flex-upper-header li a:active {
  color: black;
}
header #bottom-header {
  height: 100px;
}
header #bottom-header .flex-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #bottom-header figure {
  width: 75px;
  margin-top: 10px;
}
header #bottom-header li {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 15px;
}
header #bottom-header li:hover {
  color: dodgerblue;
}
header #bottom-header li a {
  color: black;
  font-weight: bold;
}
header #bottom-header li a:hover, header #bottom-header li a:active {
  color: dodgerblue;
}
header #bottom-header input {
  border: none;
  transition: 0.5s;
  padding: 7px;
}
header #bottom-header input:hover, header #bottom-header input:active {
  border: 0.5 solid dodgerblue;
}

#jumbotron {
  height: 350px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
}

footer {
  padding: 50px 0 0 0;
  height: 430px;
  background-image: url("../img/footer-bg.jpg");
  color: white;
}
footer h2 {
  margin: 20px 50px 10px 0;
}
footer a {
  color: white;
}
footer a:hover, footer a:active {
  color: dodgerblue;
}
footer ul {
  margin-right: 50px;
  list-style-type: none;
}
footer li {
  list-style-type: none;
  display: block;
  width: 140px;
}
footer #flex-bottom {
  display: flex;
}
footer figure img {
  margin-left: 100px;
  height: 75%;
}

.container {
  margin: 0 120px;
}